*{
  margin: 0px;
}
.App{
  background-color: #000;
}

.banner{
  color: #fff;
  object-fit: contain;
  height: 440px;
}

.banner__Content{
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.movie__row{
  padding: 20px;
}
.movie__row h2{
  color: #fff;
}

.row__posters{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar{
  display: none;
}

.row__poster{
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin-right: 15px;
  transition: transform 450ms;
  cursor: pointer;
  border-radius: 6px;
}

.row__poster:hover{
  transform: scale(1.08);
}

.row__posterLarge{
  max-height: 250px;
}

.row__posterLarge:hover{
  transform: scale(1.09);
}